<form
  class="addTask"
  (ngSubmit)="addTask()">
  <div class="form">
    <label class="form-label">
      Task Header:
      <input
        type="text"
        name="Header"
        class="form-control"
        [(ngModel)]="newHeader"
      >
    </label>
  </div>
  <div class="form">
    <label class="form-label">
      Task Content:
      <input
        type="text"
        name="Content"
        class="form-control"
        [(ngModel)]="newContent"
      >
    </label>
  </div>
  <button type="submit" class="btn btn-dark">Add</button>
</form>


<div class="flex-container">
  <div cdkDropListGroup>
    <div *ngFor="let column of columns" class="card">
      <h2>{{column}}</h2>

      <div
        class="card-body"
        cdkDropList
        [cdkDropListData]="allTasks[column]"
        (cdkDropListDropped)="drop($event, column)">
        <div class="example-box" *ngFor="let item of allTasks[column]" cdkDrag>
          <button class="delete-button" (click)="deleteTask(item.id)">x</button>
          <i></i>
          <div
            *ngIf="!isEdited"
          >
            {{item.header}}
          </div>
          <input
            *ngIf="isEdited"
          />
          <div class="editable-content">
            {{item.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
