<form
  class="addTask"
  (ngSubmit)="addTask()">
  <div class="form">
    <label class="form-label">
      Task Header:
      <input
        type="text"
        name="Header"
        class="form-control"
        [(ngModel)]="newHeader"
      >
    </label>
  </div>
  <div class="form">
    <label class="form-label">
      Task Content:
      <input
        type="text"
        name="Content"
        class="form-control"
        [(ngModel)]="newContent"
      >
    </label>
  </div>
  <button type="submit" class="btn btn-dark">Add</button>
</form>


<div class="flex-container">
  <div cdkDropListGroup>
    <div class="row">
      <div class="col-12">
        <div *ngFor="let column of columns" class="card">
          <h2>{{column}}</h2>
          <div
            class="card-body"
            cdkDropList
            [cdkDropListData]="allTasks[column]"
            (cdkDropListDropped)="drop($event, column)">
            <div class="example-box" *ngFor="let item of allTasks[column]" cdkDrag>

              <div
                *ngIf="item.id !== editedItemId"
                [contentEditable]="item.id === editedItemId"
                class="text-body col-10"
              >
                <div class="header-data mt-3">{{item.header}}</div>
                <div class="content-data">{{item.content}}</div>
              </div>
              <div class="box col-2 mt-3">
                <i
                  class="pen bi bi-pen"
                  (click)="startEditing(item.id)"
                ></i>
                <i
                  class="trash bi bi-trash"
                  (click)="deleteTask(item.id)"
                ></i>
              </div>
              <div
                *ngIf="item.id === editedItemId"
              >
                <form (submit)="updateTask(item.id, item)"
                      class="input-body">
                  <input
                    class="input-header"
                    [(ngModel)]="item.header"
                    name="header"
                    required>
                  <input
                    class="input-content"
                    [(ngModel)]="item.content"
                    name="content"
                    required>
                  <button class="save" type="submit">Save</button>
                  <button class="cancel" type="button" (click)="cancelEdit()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
