
<div class="flex-container">
  <div cdkDropListGroup>
    <div class="card">
      <h2>Backlog</h2>

      <div
        class="card-body"
        cdkDropList
        [cdkDropListData]="backlog"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of backlog" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="card">
      <h2>To do</h2>

      <div
        class="card-body"
        cdkDropList
        [cdkDropListData]="todo"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="card">
      <h2>In progress</h2>

      <div
        class="card-body"
        cdkDropList
        [cdkDropListData]="inProgress"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of inProgress" cdkDrag>{{item}}</div>
      </div>
    </div>

    <div class="card">
      <h2>Done</h2>

      <div
        class="card-body"
        cdkDropList
        [cdkDropListData]="done"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
      </div>
    </div>
  </div>

</div>
