.flex-container {
  display: flex;
  justify-items: center;
}

h2 {
  text-align: center;
}

.card {
  display: flex;
  float: left;
  width: 450px;
  height: 900px;
  overflow: auto;
  margin: 25px;
  background: #5ab3d1;
}

.addTask {
  width: 450px;
  padding: 20px;
  margin: 80px;
  background: #5ab3d1;
}

.example-box {
  display: flex;
  background: white;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 10px;
}

.box {
  display: flex;
  flex-direction: column;
}

.cancel {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background: #007bff;
}

.save {
  width: 60px;
  height: 30px;
  border-radius: 20px;
  background: #0056b3;
}

.input-header {
  width: 200px;
  height: 45px;
  border-radius: 15px;
  margin: 10px;
  padding: 16px;
}

.input-content {
  width: 250px;
  height: 45px;
  border-radius: 15px;
  margin: 10px;
}

.input-body {
  display: grid;
  margin: 20px;
}

.text-body {
  display: grid;
}

.header-data {
  font-size: 25px;
  font-family: "Andale Mono";
  margin-left: 35px;
  margin-bottom: 25px;
  height: 50px;
  width: auto;
  color: darkred;
}

.content-data {
  font-size: 20px;
  font-family: "Times New Roman";
  margin-left: 25px;
  height: 50px;
  width: auto;
}

button {
  margin: 10px;
}

.pen {
  font-size: 20px;
  cursor: pointer;
  margin: 15px;
}

.trash {
  font-size: 20px;
  cursor: pointer;
  margin: 15px;
}

.plus {
  font-size: 25px;
  cursor: pointer;
  margin: 15px;
}

.editable-content {
  display: flex;
  float: left;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
